<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{site.user_description}}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <p>
      Expert in HTML structure, Bootstrap for responsive UIs, and SASS for
      efficient styling. I craft visually appealing, user-friendly web
      interfaces.
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>
      Skilled in JavaScript and React for dynamic, interactive UIs, complemented
      by Node.js for robust backend development, ensuring seamless app
      performance.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>
      Utilizing Git for version control, Gulp for task automation, and Atom as
      my coding editor, I streamline development processes for efficiency and
      precision.
    </p>
  </div>
</div>
