<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/data-automation-img.png" |
    prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Data Automation</h3>
    <ul>
      <li>Featured Skills</li>
      <li>Chrome Extension</li>
      <li>JavaScript</li>
      <li>Firebase (Auth/DB)</li>
      <li>Webpack/Bundler</li>
    </ul>
    <p>
      Solved client inefficencies by creating integrated chrome extension to
      parse excel data and autofill into their CRM database. Secure, efficent,
      accurate. Saving time through automation, and preventing human errors.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/store-screenshot.png" | prepend:
    site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>E-Commerce Store & Admin Panel</h3>
    <ul>
      <li>Featured Skills</li>
      <li>TypeScript</li>
      <li>Next.js 13 & React</li>
      <li>Tailwind Css</li>
      <li>Prisma, MySql</li>
    </ul>
    <p>
      Crafted an online clothing store complete with an easy-to-use admin
      section for managing products, prices, and orders. The store offers a
      smooth shopping experience, while the admin panel allows for effortless
      updates and tracking of sales, all designed to streamline operations and
      enhance customer satisfaction.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
